<div class="col-md-12  myFormDiv">
    <div class="col-md-12 text-center">
        <div ng-click="openPOPup()" style="cursor: pointer">
            <i class="glyphicon glyphicon-plus-sign fa-inverse" style="font-size: 400%"></i>
        </div>
    </div>

    <table class="table myForm2 table-bordered table-hover" >
        <thead>
            <tr style="color: #000000;font-weight: bolder">
                <th>S. No</th>
                <th>Date</th>
                <th>To/From</th>
                <th>Purpose</th>
                <th>Amount</th>
                <th>Form</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in all_Entries">
                <td>{{$index+1}}</td>
                <td>{{entry.entryDate}}</td>
                <td>{{entry.toFrom}}</td>
                <td>{{entry.purpose}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.form}}</td>
                <td>
                    <div><i class="fa fa-pencil-square-o"></i>
                        <span ng-click="editEntryPop(entry._id, $index)" style="cursor: pointer; color: blue">Edit</span>
                        <span>|</span>
                    <i class="fa fa-trash-o"></i>
                        <span ng-click="delEntry(entry._id, $index)" style="cursor: pointer; color: blue">Delete</span></div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

