<div class="col-md-offset-3 col-md-6  myFormDiv">
    <div class="col-md-12 text-center">
        <div ng-click="openPOPup()" style="cursor: pointer">
            <i class="glyphicon glyphicon-plus-sign fa-inverse" style="font-size: 400%"></i>
        </div>
    </div>

    <table class="table myForm" style="margin-top: 15%;" ng-show="all_Entries.length">
        <thead>
            <tr style="color: #000000;font-weight: bolder">
                <th>S. No</th>
                <th>Date</th>
                <th>Amount</th>
                <th>To/From</th>
                <th>form</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in all_Entries">
                <td>{{$index+1}}</td>
                <td>{{entry.entryDate}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.toFrom}}</td>
                <td>{{entry.form}}</td>
                <td>
                    <span><span ng-click="editEntry(entry._id)" style="cursor: pointer;">Edit</span></span> |
                    <span style="cursor: pointer;" ng-click="deleteEntry(entry._id)">Delete</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div  ng-hide="all_Entries.length"><h2>Please add Entries</h2></div>
</div>

