<div class="pop" ng-controller="editEntry">
    <h2 class="text-primary popField">Update Entry</h2>
    <div class="popField">
        <label>AMOUNT :</label>
        <input type="text" autofocus="true" style="margin-left: 6%" ng-model="entryData.amount"/>
    </div>
    <div class="popField">
        <label>PURPOSE :</label>
        <input type="text" style="margin-left: 4%" ng-model="entryData.purpose"/>
    </div>
    <div class="popField">
        <label>TO/FROM :</label>
        <input type="text" style="margin-left: 5%" ng-model="entryData.toFrom"/>
    </div>
    <div class="popField">
        <label>DATE :</label>
        <input type="date" style="margin-left: 12%" ng-model="entryData.entryDate" />
    </div>
    <div class="popField">
        <label>FORM :</label>
                <span style="margin-left: 12%">
                    <input type="radio" name="amount" ng-model="entryData.form" value="ATM" /> ATM
                    <input type="radio" name="amount" ng-model="entryData.form" value="Cheque" /> Cheque
                    <input type="radio" name="amount"ng-model="entryData.form"  value="Cash" /> Cash
                </span>
    </div>

    <div class="popField">
        <label> Transaction Type :</label>
                <span style="margin-left: 12%">
                    <input type="radio" name="transactionType" ng-model="entryData.transactionType" value="Debit"/> Debit
                    <input type="radio" name="transactionType" ng-model="entryData.transactionType" value="Credit" /> Credit

                </span>
    </div>

    <button class="pop btn btn-primary" style="width: 100%" ng-click="updateEntry()">Update</button>
    <button class="pop btn btn-primary" style="width: 100%" ng-click="close()">Close</button>
</div>