<div class="pop" >
    <h2 class="text-primary">Update Entry</h2>
    <div class="form-control form-group form-inline" ng-class="{hasError: hasDate}" style="height: 0%">
        <label class="control-label">DATE :</label>
        <input type="date" class="form-control" ng-model="editData.newDate" style="margin-left: 22%; "/>
    </div>

    <div class="form-control form-group form-inline" ng-class="{hasError: hasTF}" style="height: 0%">
        <label class="control-label">TO/FROM :</label>
        <input type="text" class="form-control" ng-model="editData.newTF" style="margin-left: 15%"/>
    </div>

    <div class="form-control form-group form-inline" ng-class="{hasError: hasPurpose}" style="height: 0%">
        <label class="control-label">PURPOSE :</label>
        <input type="text" class="form-control" ng-model="editData.newPurpose" style="margin-left: 14%"/>
    </div>

    <div class="form-control form-group form-inline" ng-class="{hasError: hasAmount}" style="height: 0%">
        <label class="control-label">AMOUNT :</label>
        <input type="text" class="form-control" ng-model="editData.newAmount" style="margin-left: 16%"/>
    </div>

    <div class="form-control form-group form-inline" ng-class="{hasError: hasAmount}" style="height: 0%">
        <label class="control-label">AMOUNT :</label>
                <span style="margin-left: 16%" class="form-control">
                    <input type="radio" ng-model="editData.form" value="ATM"/> ATM
                    <input type="radio" ng-model="editData.form" value="Cheque"/> Cheque
                    <input type="radio" ng-model="editData.form" value="Cash" checked> Cash</input>
                </span>
    </div>

    <button class="pop btn btn-primary" style="width: 100%" ng-click="editEntry()">Done</button>
</div>