<div class="col-md-offset-2 col-md-8  myFormDiv">
    <div class="col-md-12 text-center">
            <a href="#newAccount">
                <i class="glyphicon glyphicon-plus-sign fa-inverse" style="font-size: 400%"></i>
            </a>
    </div>


    <div class="col-md-12">
        <table class="dashBoard table table-bordered" ng-show="AccDetails.length">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Account Name</th>
                    <th>Purpose</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="AccDetail in AccDetails" ng-click="showAccountDet(AccDetail._id)">
                    <td>{{$index+1}}</td>
                    <td>{{AccDetail.accountName}}</td>
                    <td>{{AccDetail.purpose}}</td>
                    <td>{{AccDetail.createdDate[0]}} , {{AccDetail.createdDate[1]}}-{{AccDetail.createdDate[2]}}-{{AccDetail.createdDate[3]}} </td>
                </tr>
            </tbody>
        </table>
        <div  ng-hide="AccDetails.length"><h2>Please add Accounts</h2></div>
    </div>

    <div class="col-md-6 graph">
        Graph here...
    </div>

    <div class="col-md-6 converter">
        Conversion Here...
    </div>
</div>

