<header class="welComeSection">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color: #4A708B">WELCOME</h1>
                    <p class="intro-text" style="color: #53868B">Hisab4U</p>
                    <a href="#signIn" class="getStarted">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>